h1,
h2 {
  font-family: "Times New Roman", Times, serif;
}

body {
  font-family: "monteserrat", sans-serif;
}

footer {
  text-align: center;
}

.botaoEnviarDados input {
  background-color: rgb(16, 50, 1);
  color: white;
  text-decoration: none;
  font-weight: 600;
}
